body { 	
			background: #eeeeee;
			margin: 0;
		}
.user-card {
			width: 384px;
			height: 629px;
			background: #ffffff;
			margin: 0 auto;
			position: relative;
			display: block; 
			top: 4px;
			padding: 54px 64px 68px 64px;
			box-shadow: 0 0 5px #666;
			font-weight: 500;
		}		
.photocard {
			display: block;
			width: 134px;
			height: 133px;
			border-radius: 10px;
			margin: auto;
			margin-top: 17px;
			margin-bottom: 15px; 
		}
h1 {
			text-align: center;
			font-size: 25px;
			margin: 0;
		}
a {margin-left: 13px;}
.work {margin: 15px 13px 16px;}
.want_to_learn {margin: 29px 13px 18px;}
.contacts {margin: 29px 13px 10px;}
.phone_number {margin: 14px 13px;}
.vk_profile {margin: 39px 13px 15px 13px;}
.feedback {margin: 29px 13px 13px;}
.my_feedback {margin-left: 13px;}

