body { 
			background: #040706;	
			margin: 0;
		}
.content {
	width: 1440px;
	height: 802px;
	background: #eeeeee;
	border-radius: 0 0 3px 3px;
}
.photocard {
			display: block;
			width: 134px;
			height: 133px;
			border-radius: 10px;
			margin: auto;
			margin-top: 17px;
			margin-bottom: 15px; 
		}
.vizitka {
			width: 384px;
			height: 629px;
			background: #ffffff;
			margin: 0 auto;
			position: relative;
			display: block; 
			top: 4px;
			padding: 54px 64px 68px 64px;
			box-shadow: 0 0 5px #666;
			font-weight: 500;
		}
h1 {
			text-align: center;
			font-size: 25px;
			margin: 0;
		}
a {margin-left: 13px;}
.hr1 {margin-top: 19px;}
.hr2 {margin-top: 20px;}
.p1 {margin: 15px 13px 16px;}
.p2 {margin: 29px 13px 18px;}
.p3 {margin: 29px 13px 10px;}
.p4 {margin: 14px 13px;}
.p5 {margin: 39px 13px 15px 13px;}
.p6 {margin: 29px 13px 13px;}
.p7 {margin-left: 13px;}

