body {background: #eeeeee; margin: 0;}
.user-card {
			width: 384px;
			height: 629px;
			background: #ffffff;
			margin: 0 auto;
			display: block; 
			padding: 54px 64px 68px 64px;
			box-shadow: 0 0 5px #666;
		}
.info {border-bottom: 1px solid #7a7a7a;}				
.photocard {
	display: block; 
	width: 134px; 
	height: 133px; 
	border-radius: 10px; 
	margin: 15px auto;
}
h1 {text-align: center; font-size: 25px; margin: 0;}	
.work {padding-bottom: 16px; margin: 15px 13px 0;}
.want_to_learn {margin: 29px 13px 18px;}
.contact_phone {margin: 29px 13px 10px;}
.phone_number {margin: 14px 13px;}
.vk_profile {margin: 30px 13px 15px 13px;}
a { display: block; margin: 0 13px 29px;}
.feedback {margin: 0 13px 13px;}