* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #eee;
}

li {
  list-style: none;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
.wrapper {
  width: 600px;
  margin: 100px auto;
}
.wrapper h1 {
    margin: 20px;
    text-align: center;
    color: #888D90;
}
.wrapper [type=text] {
    width: 555px;
    position: relative;
    box-sizing: border-box;
    padding: 0 10px;
    height: 40px;
    margin-bottom: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 24px;
}
.wrapper [type=text]::selection {
      background: #ffb7b7;
}
.wrapper .item-input {
    background-color: #4CAF50;
}
.wrapper .item-input:focus {
      background-color: #9CCC65;
}
.item-value {
  background-color: #135457;
}
.item-value::-webkit-input-placeholder {
    color: #09193F;
}
.item-value::-moz-placeholder {
    color: #09193F;
}
.item-value:-moz-placeholder {
    color: #09193F;
}
.item-value:-ms-input-placeholder {
    color: #09193F;
}
  .item-value:focus {
    background-color: #61A8AB;
}
.item-add {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
}
.item-delete, .item-edit {
  width: 40px;
  line-height: 40px;
  cursor: pointer;
  margin-left: 10px;
}

.item-edit {
  display: none;
}
