/*PART 1*/

.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
body{
	background-color: #eee;
}
.tabs{
	width: 750px;
	margin: 80px auto;
	border: 1px solid black;
}
.tabs div{
	margin: 10px;
}
.tabs-items{
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 30px;
	background-color: #bbb;
}
.tabs-items li{
	float: left;
	margin-right: 20px;
}
.tabs-items a{
	text-decoration: none;
	display: block;
	width: 130px;
	height: 30px;
	background-color: #ccc;
	color: black;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	border: 1px solid black;
}
.button-in-action a{
	background-color: #eee;
	border-bottom: 1px solid #eee;
}
.tabs_switcher-left{
	margin-left: 10px;
}
.tabs-hide{
	display: none;
}
.tabs-show{
	display: block;
}

/*PART 2*/

.form{
	width: 800px;
	margin: 100px auto;
}
fieldset{
	margin: 50px auto;
	border: 1px solid black;
}
.form label{
	display: inline-block;
	width: 100px;
	margin: 15px;
}
.button{
	margin: 10px;
}
input:title{
	color: yellow;
}
.help{
	margin-left: 20px;
	display: inline-block;
	padding: 5px;
	width: 250px;
	height: 20px;
	background-color: yellow;
	color: red;
}
.hide{
	display: none;
}
.show{
	display: inline-block;
}

