// PARTNERS
.partners {
		width: 100%;
		margin: 98px auto 40px;
	}
	.partners__title {
		margin-bottom: 15px;
		margin-right: 1.8%;
    margin: 0 5px 34px 0;
		line-height: 25px;
		text-align: center;
		font-family: $mont-b;
		font-weight: 700;
		font-size: 22px;
		color: #333;
	}
	.partners__list {
		width: 940px;
		margin: 0 auto;
		.partners__item {
			position: relative;
			width: 235px;
			margin: 0 auto 30px;
      float: left;
      cursor: pointer;
		}
		.circle_big {
			display: inline-block;
			width: 125px;
    		height: 122px;
    		margin-left: 56px;
    		margin-bottom: 15px;
			@include border-radius(50%);
    		overflow: hidden;
		}
		.circle_small {
			overflow: hidden;
    		display: inline-block;
    		position: absolute;
    		left: 59.5%;
    		top: 83px;
    		width: 45px;
    		height: 45px;
    		background-image: url(../img/small_circle.png);
		}
		.small_1 {
			background-position: -5px -5px;
    	}
    	.small_2 {
    		background-position: -5px -60px;
    	}
    	.small_3 {
    		background-position: -5px -114px;
    	}
    	.small_4 {
    		background-position: -5px -169px;
    	}
		.partners__name {
			margin-bottom: 16px;
			text-align: center;
			font-family: $mont-b;
			font-size: 14px;
			font-weight: 700;
			color: #333;
		}
		.partners__hobby {
			line-height: 15px;
			text-align: center;
			font-family: $roboto;
     		font-weight: 400;
     		font-size: 14px;
     		color: #666;
     	}
    }
    .partners__form {
     	text-align: center;
     }
     .partners__button {
     	width: 195px;
    	height: 38px;
    	margin: 10px auto;
    	background: none;
    	@include border-radius(25px);
    	border: 2px solid #ff4e50;
    	font-family: $mont-b;
		  font-size: 14px;
		  font-weight: 700;
    	color: $red;
    	cursor: pointer;
      &:hover{
        background-color: $red;
        color: $white;
        transition: 0.5s all;
      }
     }
