/*ACCARDION*/
.accordion__tab {
  position: relative;
  border: 1px #e8e8e8 solid;
  padding-left: 38px;
  cursor: pointer;
  margin-bottom: 6px; 
  &:before {
    content: "+";
    position: absolute;
    top: 4px;
    left: 11px;
    color: #2a2d32;
    font-size: 27px; 
  }
}
.accordion__active {
  border: 1px #f4b60d solid;
  background-color: #f4b60d; 
  &:before {
    content: "-";
    top: 2px;
    left: 14px;
    color: #fff; 
  }
}
.accordion__active .accordion__title {
  color: #fff; 
}

.accordion__title {
  display: inline-block;
  border-left: 1px #e8e8e8 solid;
  padding-left: 12px;
  color: #2a2d32;
  font-family: $ubuntu-m;
  font-size: 13px;
  font-weight: 500;
  line-height: 37px;
  text-transform: uppercase; 
}

.accordion__content {
  display: none;
  padding: 25px 0 40px 35px;
  line-height: 1.5;
  font-family: $arial;
  font-size: 13px;
  font-weight: 400;
  color: #8a8a8a; 
}