<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>JS_21-22</title>
	<link rel="stylesheet" href="build/css/reset.css">
	<link rel="stylesheet" href="build/css/style.css">
	<script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
  <script src="build/js/script.js"></script>
	<script src="build/js/tmpl.js"></script>
</head>
<body>
	<h1>Тест</h1>
	<script type="text/template" id = "test">
		<% for (var i =0; i<data.length; i++) { %>
		<div class="question<%=i%> question">
			<h2 class="question__text"><%=data[i].question %></h2>
				<% for (var k = 0; k < data[i].answer.length; k++) { %>
				<div>
			    	<label><input type="radio" class="radio" name="radio<%= [i] %>"><%= data[i].answer[k] %></label>
				</div>
	<%}; %>
		</div>

	<%}; %>
	<div class="result">Проверить</div>
</script>
</body>
</html>
