/*HEADER-LOGO*/
.logo__link {
  float: left;
  margin-left: 5px;
  margin-bottom: 33px;
  padding-left: 45px;
  background: #fff url(../img/logo.png) 0 0 no-repeat; 
}

.logo__text-top {
  font-family: $ubuntu-m;
  font-size: 30px;
  color: #434343;
  line-height: 20px; 
}

.logo__text-bottom {
  font-family: $ubuntu-l;
  font-size: 12px;
  color: #333;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 3.6px; 
}