h1{
  font-size: 30px;
  text-align: center;
  margin: 50px 0 20px 0;
}
.question__text{
  font-size: 20px;
  text-align: center;
  margin: 20px;
}

.question{
  width: 60%;
  margin: 0 auto;
}

label{
  font-size: 16px;
  margin-left: 3%;
  line-height: 30px;
  display: block;
}

.result{
  display: block;
  background: blue;
  color: white;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px auto;
  text-align: center;
}
.button{
  text-align: center;
  position: absolute;
  display: block;
  background: blue;
  color: white;
  width: 100px;
  height: 30px;
  line-height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px auto;
  text-align: center;
  left: 46%;
  top: 60% ;
}
.test-modal{
  position: fixed;
  text-align: center;
  background: white;
  line-height: 350px;
  color: #000;
  font-size: 36px;
  width: 50%;
  height: 400px;
  top: 20%;
  left: 25%;
  border-radius: 3px;
  box-shadow: 0 0 1px 2px rgba(255,255,255,0.5);
}

.test-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}


