/*RESET*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*FONTS*/
@font-face {
  font-family: 'ubuntu';
  src: url("../fonts/ubuntu-r-webfont.eot");
  src: url("../fonts/ubuntu-r-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-r-webfont.woff2") format("woff2"), url("../fonts/ubuntu-r-webfont.woff") format("woff"), url("../fonts/ubuntu-r-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu_condensed';
  src: url("../fonts/ubuntu-c-webfont.eot");
  src: url("../fonts/ubuntu-c-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-c-webfont.woff2") format("woff2"), url("../fonts/ubuntu-c-webfont.woff") format("woff"), url("../fonts/ubuntu-c-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu_light';
  src: url("../fonts/ubuntu-l-webfont.eot");
  src: url("../fonts/ubuntu-l-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-l-webfont.woff2") format("woff2"), url("../fonts/ubuntu-l-webfont.woff") format("woff"), url("../fonts/ubuntu-l-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntu_medium';
  src: url("../fonts/ubuntu-m-webfont.eot");
  src: url("../fonts/ubuntu-m-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-m-webfont.woff2") format("woff2"), url("../fonts/ubuntu-m-webfont.woff") format("woff"), url("../fonts/ubuntu-m-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.clearfix {
  display: block;
  content: '';
  clear: both; }

.header {
  width: 1160px;
  margin: 0 auto;
  margin-top: 36px; }

/*HEADER-LOGO*/
.logo__link {
  float: left;
  margin-left: 5px;
  margin-bottom: 33px;
  padding-left: 45px;
  background: #fff url(../img/logo.png) 0 0 no-repeat; }

.logo__text-top {
  font-family: "ubuntu_medium", Arial, sans-serif;
  font-size: 30px;
  color: #434343;
  line-height: 20px; }

.logo__text-bottom {
  font-family: "ubuntu_light", Arial, sans-serif;
  font-size: 12px;
  color: #333;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 3.6px; }

/*HEADER-SOCIAL*/
.social {
  float: right;
  margin-top: 10px; }

.social__item {
  float: left;
  padding: 0 8px;
  cursor: pointer; }

.icon_facebbok {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/sprite.png") no-repeat;
  overflow: hidden;
  background-position: -15px -15px; }
  .icon_facebbok:hover {
    background-position: -61px -15px; }

.icon_twitter {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/sprite.png") no-repeat;
  overflow: hidden;
  background-position: -383px -15px; }
  .icon_twitter:hover {
    background-position: -429px -15px; }

.icon_rss {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/sprite.png") no-repeat;
  overflow: hidden;
  background-position: -199px -15px; }
  .icon_rss:hover {
    display: block;
    width: 16px;
    height: 16px;
    background: url("../img/sprite.png") no-repeat;
    overflow: hidden;
    background-position: -245px -15px; }

.icon_skype {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/sprite.png") no-repeat;
  overflow: hidden;
  background-position: -291px -15px; }
  .icon_skype:hover {
    background-position: -337px -15px; }

.icon_linkedin {
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/sprite.png") no-repeat;
  overflow: hidden;
  background-position: -107px -15px; }
  .icon_linkedin:hover {
    background-position: -153px -15px; }

/*HEADER-NAV*/
.header-nav {
  width: 100%;
  height: 56px;
  background-color: #2a2d32; }

.header-nav__ul {
  float: left;
  background-color: #2a2d32; }

.header-nav .header-nav__list {
  float: left;
  border-right: 1px solid #181a1d; }

.header-nav .header-nav__link {
  display: block;
  padding: 0 40px;
  font-family: "ubuntu_condensed", Arial, sans-serif;
  color: #fff;
  line-height: 56px; }

.header-nav .header-nav__link:hover {
  color: #ca991a; }

.header-nav__active {
  background-color: #248cec; }

.header-nav__search {
  float: right;
  margin: 7px 8px 0 0; }

.header-nav__search input {
  width: 238px;
  padding: 12px 0 12px 12px;
  color: #606265;
  font-family: Arial, sans-serif;
  font-size: 13px;
  border: 1px solid #181a1d;
  background: #35383c url(../img/search.png) 213px 13px no-repeat; }

/*SLIDER*/
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 1160px;
  margin: 0 auto; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item {
  float: left; }

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

.grabbing {
  cursor: url(grabbing.png) 8 8, move; }

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

.owl-carousel {
  margin: auto;
  margin-bottom: 65px;
  margin-top: 40px; }

.owl-carousel-item {
  height: 470px; }

.owl-img {
  display: block;
  width: 1160px;
  height: auto; }

.owl-theme .owl-controls {
  position: absolute;
  bottom: 0;
  left: 50%; }

.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1; }

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 15px;
  height: 15px;
  margin: 17px 7px;
  background: #2a2d32;
  -webkit-box-shadow: inset 0px 0px 0px 11px white;
  -moz-box-shadow: inset 0px 0px 0px 11px white;
  box-shadow: inset 0px 0px 0px 11px white;
  transition: box-shadow 0.2s; }

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  -webkit-box-shadow: inset 0px 0px 0px 3px white;
  -moz-box-shadow: inset 0px 0px 0px 3px white;
  box-shadow: inset 0px 0px 0px 3px white; }

/*FACILITIES*/
.facilities {
  width: 1160px;
  height: 250px;
  margin: 0 auto; }

.facilities__item {
  float: left;
  margin-right: 20px;
  margin-left: 10px; }

.facilities__number {
  float: left;
  height: 100%;
  margin-top: -20px;
  font-family: "ubuntu_medium", Arial, sans-serif;
  font-size: 90px;
  color: #e9e9ea; }

.facilities__text {
  float: left;
  width: 240px;
  line-height: 1.5;
  margin-left: 14px; }

.facilities__title {
  margin-bottom: 20px;
  color: #2a2d32;
  font-family: "ubuntu_medium", Arial, sans-serif;
  font-size: 20px; }
  .facilities__title:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    margin-bottom: 15px;
    background: #fff url(../img/facilities_sprite.png) -77px -15px no-repeat; }

.new_technologies:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: #fff url(../img/facilities_sprite.png) -15px -15px no-repeat; }

.fast_support:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background: #fff url(../img/facilities_sprite.png) -139px -15px no-repeat; }

.facilities__p {
  height: 60px;
  line-height: 1.5;
  overflow: hidden;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #8a8a8a; }

.facilities__link {
  float: left;
  margin-left: 5px;
  font-family: "ubuntu_medium", Arial, sans-serif;
  font-size: 13px;
  color: #2a2d32; }

.facilities__link:hover {
  color: #248cec; }

.facilities__link:after {
  content: "";
  display: block;
  float: right;
  width: 10px;
  height: 9px;
  margin-left: 15px;
  margin-top: 3px;
  background: #fff url(../img/arrow-right.png) -5px -5px no-repeat; }

.facilities__link:hover:after {
  content: "";
  display: block;
  width: 10px;
  height: 9px;
  margin-left: 15px;
  margin-top: 3px;
  background: #fff url(../img/arrow-right.png) -25px -5px no-repeat; }

/*SERVICES*/
.services-wrapper {
  width: 100%;
  height: 500px;
  background-color: #2a2d32; }

.services_container {
  width: 1160px;
  margin: 0 auto; }

.service {
  float: left;
  margin-right: 40px;
  cursor: pointer; }
  .service:last-child {
    margin-right: 0; }

.service__title {
  padding: 40px 0;
  font-family: "ubuntu_medium", Arial, sans-serif;
  font-size: 24px;
  color: #fff; }

.service__image {
  width: 260px;
  height: 260px;
  margin-bottom: 30px;
  background: #fff url("../img/service_1.jpg") -172px 0; }

.service__image-second {
  width: 260px;
  height: 260px;
  background: #fff url("../img/service_2.jpg") -110px 0; }

.service__image-third {
  width: 260px;
  height: 260px;
  background: #fff url("../img/service_3.jpg") 0 0; }

.service__image-fourth {
  width: 260px;
  height: 260px;
  background: #fff url("../img/service_4.jpg") -55px 0; }

.service__hover {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 0 0; }

.service:hover .service__hover {
  background-color: rgba(36, 140, 236, 0.9);
  background-image: url(../img/service-hover.png);
  background-size: 35px 35px; }

.service:hover .service__desc {
  color: #f4b60d; }

.service__desc {
  padding-bottom: 60px;
  text-align: center;
  font-family: "ubuntu_medium", Arial, sans-serif;
  font-size: 16px;
  color: #fff; }

/*NEWS*/
.news-and-accardion-container {
  width: 100%;
  height: 550px;
  background-color: #f7f7f7; }

.news-wrapper {
  width: 1160px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 60px; }

.news {
  width: 560px;
  float: left;
  margin-right: 40px; }

.news__title {
  padding-bottom: 40px;
  font-family: "ubuntu_medium", Arial, sans-serif;
  font-size: 24px;
  color: #2a2d32; }

.news-box {
  margin-bottom: 30px; }

.news__img {
  float: left;
  width: 151px;
  height: 148px;
  padding-top: 12px;
  background: #0187f4 url(../img/news-1.jpg) -107px 0 no-repeat;
  font-family: "ubuntu_medium", Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: center; }

.news__img-second {
  background: #0187f4 url(../img/news-2.jpg) -15px -13px no-repeat; }

.news__month {
  width: 40px;
  line-height: 40px;
  margin-left: -17px;
  color: #fff;
  background-color: #248cec; }

.news__date {
  width: 40px;
  line-height: 40px;
  margin-left: -17px;
  color: #2a2d32;
  background-color: #f4b60d; }

.news__text {
  width: 380px;
  float: left;
  margin-left: 25px;
  margin-bottom: 30px; }

.news__link {
  line-height: 30px;
  font-family: "ubuntu_medium", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2a2d32; }
  .news__link:hover {
    color: #248cec; }

.news__author {
  margin-bottom: 20px;
  line-height: 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #9d9d9d; }
  .news__author a {
    color: #248cec; }

.news__desc {
  line-height: 1.5;
  font-family: Arial, sans-serif;
  font-size: 13px;
  color: #9d9d9d;
  text-align: left; }

.banners {
  width: 550px;
  float: right; }

/*ACCARDION*/
.accordion__tab {
  position: relative;
  border: 1px #e8e8e8 solid;
  padding-left: 38px;
  cursor: pointer;
  margin-bottom: 6px; }
  .accordion__tab:before {
    content: "+";
    position: absolute;
    top: 4px;
    left: 11px;
    color: #2a2d32;
    font-size: 27px; }

.accordion__active {
  border: 1px #f4b60d solid;
  background-color: #f4b60d; }
  .accordion__active:before {
    content: "-";
    top: 2px;
    left: 14px;
    color: #fff; }

.accordion__active .accordion__title {
  color: #fff; }

.accordion__title {
  display: inline-block;
  border-left: 1px #e8e8e8 solid;
  padding-left: 12px;
  color: #2a2d32;
  font-family: "ubuntu_medium", Arial, sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 37px;
  text-transform: uppercase; }

.accordion__content {
  display: none;
  padding: 25px 0 40px 35px;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #8a8a8a; }

/*PARTNERS*/
.partners {
  padding: 85px 0;
  width: 1160px;
  margin: 0 auto; }

.partners__logo {
  margin: 0 20px; }
  .partners__logo:last-child {
    margin-right: 0; }

/*FOOTER*/
.footer {
  width: 100%;
  background-color: #2a2d32; }

.footer__wrapper {
  width: 1160px;
  height: 205px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 70px; }

.footer__menu {
  width: 260px;
  float: left;
  margin-right: 40px; }
  .footer__menu:last-child {
    margin-right: 0; }

.footer__title {
  padding-bottom: 35px;
  font-family: "ubuntu_medium", Arial, sans-serif;
  font-size: 16px;
  color: #fff; }

.footer__list {
  border-bottom: 1px solid #393c40; }
  .footer__list:last-child {
    border-bottom: none; }

.footer__link {
  line-height: 2.77;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #8a8a8a; }
  .footer__link:hover {
    color: #248cec; }

.footer-contacts {
  width: 100%;
  background-color: #35383c;
  line-height: 55px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #8a8a8a; }

.footer-contacts-container {
  width: 1160px;
  margin: 0 auto; }

.footer-contacts__adress {
  margin-right: 35px; }
  .footer-contacts__adress:before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 16px;
    margin-right: 10px;
    margin-bottom: -2px;
    background: url(../img/contacts-icons.png) -51px -5px no-repeat; }

.footer-contacts__phone {
  margin-right: 40px; }
  .footer-contacts__phone:before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 16px;
    margin-right: 10px;
    margin-bottom: -2px;
    background: url(../img/contacts-icons.png) -31px -5px no-repeat; }

.footer-contacts__email {
  margin-right: 40px; }
  .footer-contacts__email:before {
    content: '';
    display: inline-block;
    width: 16px;
    height: 14px;
    margin-right: 10px;
    margin-bottom: -3px;
    background: url(../img/contacts-icons.png) -5px -5px no-repeat; }

.footer-contacts__copyrights {
  float: right; }
